{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/0d8c5cdc24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/zenburn.css' %}">
</head>
<body>

<div class="page-header">
    <!-- Below I added user.is_superuser because I don't want commentators to be able to modify or delete posts.-->
    {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fas fa-pencil-ruler fa-2x"></i></a>
        <a href="{% url 'post_new' %}" class="top-menu"><i class="far fa-plus-square fa-2x"></i></a>
         <!-- Below I added the same username twice because I need this to show up whether the user is a superuser or not.-->
        <p class="top-menu">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

    <!-- Below I added an elif statement in the case this is not a super user-->
    {% elif user.is_authenticated %}
        <p class="top-menu">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></a>

    {% endif %}

    <h1><a href="{% url "post_list" %}">Path To Journeyman</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

</body>
</html>