{% extends 'blog/base.html' %}

{% load markdownify %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post">

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>

        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>

        {% endif %}
        <!-- Below I added user.is_superuser because I don't want commentators to be able to modify or delete posts.-->
        {% if user.is_authenticated and user.is_superuser %}

            <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-dark"><i class="far fa-edit" style="color: #FFFFFF;"></i></a>
            <!-- Below I moved the delete button into if user.is_authenticated so it would not show up unless the user is logged in. It used to be below the endif statement right under this.-->
            <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?')"><i class="far fa-trash-alt"></i></a>

        {% endif %}


        <h1>{{ post.title }}</h1>
        <p>{{ post.text | markdown | safe }}</p>
    </div>

    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved %}
            <div class="comment">

                <div class="date">
                    {{ comment.created_date }}
                </div>

                {% if not comment.approved and user.is_superuser %}

                    <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="fas fa-check"></i></a>

                    <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="far fa-trash-alt"></i></a>

                {% endif %}

                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text | markdown | safe | linebreaksbr }}</p>
            </div>

        {% endif %}
    {% empty %}
        <p>No comments yet...</p>

    {% endfor %}
{% endblock %}